body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../image/pexels-juan-mendez-1536619.jpg);
    background-repeat: round;
    background-attachment: fixed;
    display: flex;

    .entete {
        nav {
            h1 {
                img {
                    color: blue;
                }
            }
        }
    }

    .formulaire {
        width: 40%;
        position: relative;
        top: 80px;
        right: 70px;
        font-weight: bold;

        form {

            #trancheAge {
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                border: solid 1px;

            }

            #genre {
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                border: solid 1px;


            }

            .conditions {
                width: 60%;

            }

            .sexe {
                display: inline-block;
                width: 20%;
                text-align: right;
                margin-right: 1rem;
                font-weight: bold;


            }

            p {
                width: 100%;


                #mail {
                    font-weight: bold;
                    font-family: 'Montserrat', sans-serif;
                    border: solid 1px;

                }

                #prenom {
                    font-weight: bold;
                    font-family: 'Montserrat', sans-serif;
                    border: solid 1px;

                }

                .etiquette {
                    display: inline-block;
                    width: 20%;
                    text-align: right;
                    margin-right: 1rem;
                    font-weight: bold;

                }

                #genreHomme {
                    border: solid 1px;
                }

                #genreFemme {
                    border: solid 1px;
                }

                input {
                    color: black;
                }



            }

            #inscription {
                background-color: white;
                font-size: 2rem;
                font-weight: bold;
                font-family: 'Montserrat', sans-serif;
                border: solid 2px;
                border-radius: .2rem;
                padding: .2rem;

                // text-decoration: underline;
            }
        }
    }
}