@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(../image/pexels-juan-mendez-1536619.jpg);
    background-repeat: round;
    background-attachment: fixed;

    .messagebienvenue {
        width: fit-content;
        position: absolute;
        left: 200px;
        top: 180px
    }

    .block {
        display: flex;
        position: relative;
        top: 48.75rem;


        #barrenav {
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: auto;
            margin: .5rem;


            img {
                width: 15rem;
                margin: 2rem;
                border: solid;
            }


            button {
                cursor: pointer;
                font-family: 'Montserrat', sans-serif;


            }
        }

        #galerieDesAbonnes {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;


            #affiche {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 16rem;
                margin: .5rem;
                background-color: white;

                img {
                    width: 10rem;
                }


                #info {
                    display: flex;
                    flex-direction: column;

                    #directionProfil {
                        text-align: center;
                    }

                    .age {
                        filter: blur(2.5px);
                    }

                    .sexe {
                        filter: blur(2.5px);

                    }

                    .orientation {
                        filter: blur(2.5px);

                    }

                    .description {
                        filter: blur(2.5px);

                    }

                    .departement {
                        filter: blur(2.5px);

                    }

                    #btnInfo {
                        cursor: pointer;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: bold;

                    }

                    #btnInfo:hover {
                        background-color: red;
                        color: white;
                        font-family: Arial, Helvetica, sans-serif;
                        border-color: red;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
